body{
    background-color: antiquewhite;
    margin: 20px;
}

/* reszponzivitás beállítása */
@media all and (max-width: 1200px){
    body{
        background-color: aqua;
    }
}

@media all and (max-width: 1000px){
    body{
        background-color: rgb(101, 158, 158);
    }
}

@media all and (max-width: 800px){
    body{
        background-color: rgb(42, 207, 207);
    }
}

@media all and (max-width: 600px){
    body{
        background-color: rgb(11, 43, 43);
    }
}